---
# A song must have the title (given), an author/group, the key which it is in,
# and a link to the data file that stores everything.

layout: page
---

<div id="song-app">
  <button v-on:click="transposeUp()">Up</button>
  <button v-on:click="transposeDown()">Down</button>
  <song-render v-bind:chords="chords"
               v-bind:lyrics="lyrics"
               v-bind:song-key="key"></song-render>
</div>

<script>
var dataLink = "{{ page.dataLink | relative_url }}";
</script>

<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script src="{{ "/assets/js/song.js" | relative_url }}"></script>
